<h1>Bem-vindo <%= current_user.username %>!</h1>

<h2>Suas contas:</h2>
<% @accounts.each do |account| %>
    
    <%= link_to(account) do%>
        <p>Conta # <%= account.id %></p>
    <% end %>

<% end %>

<% content_for :right_pane do %>
    <%= button_to "Abrir uma nova conta",accounts_path, method: :post %>
<% end %>