@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-family: 'Helvetica', sans-serif !important;
	background-color: #0f4c84;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23192d66' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");	
	/*background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='23' height='23' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(68, 51, 122,1)'/%3E%3Cpath d='M-10-1h60v8h-60z' fill='rgba(60, 54, 107,1)'/%3E%3Cpath d='M-10 39h60v8h-60z' fill='rgba(60, 54, 107,1)'/%3E%3Cpath d='M-10 28h60v4h-60z' fill='rgba(67, 65, 144,1)'/%3E%3Cpath d='M28-10v60h4v-60z' fill='rgba(67, 65, 144,1)'/%3E%3Cpath d='M6-10v60h8v-60z' fill='rgba(60, 54, 107,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E ");*/
}

.main-cont {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.header	{
	display: flex;
	margin: 2% 0;
	padding: 6%;
	justify-content: right;
	background-color: #0f4c84;
}

.header h1 {
	font-size: 42pt;
	font-weight: 900;
	flex: 2;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	text-shadow: 2px 8px #092d4f;
	color: #1a86e9;
}

.main-console {
	display: flex;
	gap: 10px;
	background: white;
	padding: 2%;
	border-radius: 10px;
	border: 5px solid #136bbc;
}

.left-pane {
	flex: 1;
	border-right: 1px solid black;
	padding: 10px;
}

.left-pane h1 {
	font-size: 24pt;
	font-weight: 900;
	margin-bottom: 15px;
}

.left-pane p {
	margin: 5px 0;
}

.right-pane {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.right-pane a, .right-pane button{
	text-decoration: none;
	width: 75%;
	padding: 5%;
	font-size: 16pt;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	background-color: #1a86e9;
	color: white;
	border-radius: 10px;
	box-shadow: 5px 10px;
}