body {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-family: 'Helvetica', sans-serif !important;
	background-color: #0f4c84;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23192d66' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");	
}

.main-cont {
	width: 45%;
	display: flex;
	flex-direction: column;
}

.header	{
	display: flex;
	margin: 2% 0;
	padding: 6%;
	justify-content: right;
	background-color: #0f4c84;
}

.header h1 {
	font-size: 42pt;
	font-weight: 900;
	flex: 2;
	text-align: center;
	font-family: 'Bebas Neue', cursive;
	text-shadow: 2px 8px #092d4f;
	color: #1a86e9;
}

.main-console {
	display: flex;
	gap: 10px;
	background: white;
	padding: 2%;
	border-radius: 10px;
	border: 5px solid #136bbc;
}

.left-pane {
	flex: 1;
	border-right: 1px solid black;
	padding: 10px;
}

.left-pane h1 {
	font-size: 24pt;
	font-weight: 900;
	margin-bottom: 15px;
}

.left-pane p {
	margin: 5px 0;
}

.right-pane {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.right-pane a{
	text-decoration: none;
	width: 75%;
	padding: 5%;
	font-size: 16pt;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	background-color: #1a86e9;
	color: white;
	border-radius: 10px;
	box-shadow: 3px 5px #092d4f;
}

.right-pane a:hover {
	background-color: #092d4f;
}

.right-pane form {
	width: 100% !important;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.right-pane button {
	width: 75%;
	padding: 5%;
	font-size: 16pt;
	font-family: 'Bebas Neue', cursive;
	text-align: center;
	background-color: #1a86e9;
	color: white;
	border-radius: 10px;
	box-shadow: 3px 5px #092d4f;
}