<h1>Accounts#edit</h1>
<%= form_with(model: @account) do |form| %>
 
    <div>
    	<%= form.label :deposit %>
      	<%= form.text_field :deposit %>
    </div>
    <div>
      <%= form.submit %>
   </div>
<% end %>
